.*~
bookmarks
*.dat
*.elc
elpa
var
url
clang-complete
eshell
ensime/
theme
history
.DS_Store
server/
jabber-avatar-cache/
tramp
saved-packages
/session.*
/.cask/
/.litable-lists.el
/elnode/
/clang-include-paths.jar
/hgs-cache
/emacs-theme
/kill-ring-saved.el
/deepin-emacs/
/server.lock
/daemon.lock
/recentf
/smex-items
/el-get/
/timelog
/notes
/irony/
/async-bytecomp.log
/#tramp#
/rake.cache
/eww-bookmarks
/ido.last
/run-emacs
/request/
/check-protoc.sh
/.trello
thumbs/
/*/flycheck_*.el
*.eld
*.cache
/games/
/kkcrc
